//-------------------navigation lists------------------------
// generic nav styles
// (main header nav, side nav, footer nav, sitemap)

nav	ul {
	width: 100%;
	padding: 0;
	margin: 0;
	li {
		
		list-style: none;
		a {				
				cursor: pointer;					
				text-decoration: none;
		}
	}
}

